body {
  background-color: #fff; }

.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1em !important;
  padding-right: 1em !important; }

.navbar .nav-item.active {
  border-left: #444 3px solid; }

.fa {
  font-size: 50px; }

#showcase {
  position: relative;
  min-height: 450px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #fff; }
  #showcase .carousel-item {
    height: 450px; }
  #showcase .carousel-image-1 {
    background: url("../img/desk.png");
    background-size: cover; }
  #showcase .carousel-image-2 {
    background: url("../img/people.png");
    background-size: cover; }
  #showcase .carousel-image-3 {
    background: url("../img/security.png");
    background-size: cover; }

.dark-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#strategy-video-play {
  position: relative;
  min-height: 200px;
  background: url("../img/media.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 -300px;
  text-align: center;
  color: #fff; }
  #strategy-video-play a {
    color: #fff; }

#subNav {
  height: 325px;
  width: 100%;
  background: repeating-linear-gradient(45deg, transparent, transparent 5px, #ccc 10px, #ccc 20px), linear-gradient(to bottom, #eee, #999); }
  #subNav a {
    color: #76c1d6;
    text-decoration: none; }
  #subNav a:hover {
    color: #fff; }

#articles a {
  color: #000;
  text-decoration: none; }

#articles a:hover {
  color: #76c1d6; }

#articles .fa {
  font-size: 15px; }

#about img {
  margin-top: -50px; }

#about .fa {
  font-size: 25px; }

#about .card:hover {
  background: #3292a6;
  color: #fff; }
  #about .card:hover .fa {
    color: #fff; }

#contact {
  background: url("../img/contact.jpeg");
  background-repeat: no-repeat;
  background-size: 100%; }

#services .fa {
  font-size: 15px; }

#faq .card {
  border: #444; }
  #faq .card a {
    color: #fff;
    text-decoration: none; }

#faq .card-body, #faq .card-header {
  background: #333; }
